.content-title {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
}